<p>
Welcome to UNB Libraries Archives Datasets.
Please select from the content below:
</p>


<table id="dsets_intro_table">
  <tr>
    <td>
      <a href='/anniversaries'>Anniversaries</a>
    </td>
    <td>
      {% if 'dsets_contributor' in user.getroles  %}
        <a href='/node/add/dsets_anniversary_event'>[Add New]</a>
      {% endif %}
    </td>
  <tr>
    <td>
      <a href='/anniversaries'>Biographies</a>
    </td>
    <td>
      {% if 'dsets_contributor' in user.getroles  %}
        <a href='/node/add/dsets_biography'>[Add New]</a>
      {% endif %}
    </td>
  </table>
