<p>
Welcome to UNB Libraries Archives Datasets.
Please select from the content below:
</p>


<div id="dsets_intro">
  <p>
    <a href='/anniversaries'>Browse Anniversaries</a>
    <span>
      {% if 'dsets_anniversaries_contributor' in user.getroles  %}
        <a href='/node/add/dsets_anniversary_event'>[Add New]</a>
      {% endif %}
    </span>
  </p>
  <p>
    <a href='/biographies'>Browse Biographies</a>
    <span>
      {% if 'dsets_biographies_contributor' in user.getroles  %}
        <a href='/node/add/dsets_biography'>[Add New]</a>
      {% endif %}
    </span>
  </p>
</div>

<p>
For more information, please visit the <a href='https://lib.unb.ca/archives/'>
Archives & Special Collections</a> website or <a href='https://lib.unb.ca/contact-unb-libraries-staff?recipient=archives@unb.ca&subject=Anniversaries'>Contact Us</a>.
</p>
