<p>
Welcome to UNB Libraries Archives Datasets.
Please select from the content below:
</p>


<table id="dsets_intro_table">
  <tr>
    <td>
      <a href='/anniversaries'>Browse Anniversaries</a>
    </td>
    <td>
      {% if 'dsets_anniversaries_contributor' in user.getroles  %}
        <a href='/node/add/dsets_anniversary_event'>[Add New]</a>
      {% endif %}
    </td>
  {% if ('dsets_biographies_contributor' in user.getroles) or ('dsets_biographies_user' in user.getroles) %}
  <tr>
    <td>
      <a href='/biographies'>Browse Biographies</a>
    </td>
    <td>
      {% if 'dsets_biographies_contributor' in user.getroles  %}
        <a href='/node/add/dsets_biography'>[Add New]</a>
      {% endif %}
    </td>
  </tr>
  {% endif %}
</table>
<br><br>

<p>
For more information, please visit the <a href='https://lib.unb.ca/archives/'>
Archives & Special Collections</a> website or <a href='https://lib.unb.ca/contact-unb-libraries-staff?recipient=archives@unb.ca&subject=Anniversaries'>Contact Us</a>.
</p>
