/* Import Sass files */
@import 'import';

// Main container.
main[role='main'] {

  // Exposed search forms.
  form[id^='views-exposed-form-dsets-browse'] {

    fieldset {
      display: inline-flex;
      width: 36%;

      label {
        display: inline-block;
        margin-top: .5rem;
        margin-right: 1rem;
      }

      select {
        width: 100%;
        width: -webkit-fill-available;
        width: -moz-available;
        width: fill-available;
      }
    }

    .form-actions {
      display: inline-flex;

      .btn {
        width: fit-content;

        &:nth-of-type(2) {
          margin-left: .5rem;
        }
      }
    }
  }

  // Anniversary year form.
  form#dsets-anniv-year-form {

    fieldset,
    .form-check,
    .form-actions {
      display: inline-flex;

      label[for='edit-reference-year'] {
        margin-top: .5rem;
        width: 8rem;
      }
    }

    .form-check,
    .form-actions {
      margin-left: .5rem;
    }

    #edit-reference-year {
      width: 4rem;
    }
  }

  // Views.
  .view {

    // View content.
    .view-content.row {
      display: block;
      margin: 0;
      margin-top: 1rem;
    }

    // Pagination.
    .pagination {
      margin: 2rem;
      justify-content: center;

      // Page items.
      .page-item,
      .pager__item--next,
      .pager__item--previous {
        // Links.
        .page-link {
          color: #00607a;
          -webkit-transition: all 0.25s ease-in-out;
          -moz-transition: all 0.25s ease-in-out;
          -ms-transition: all 0.25s ease-in-out;
          -o-transition: all 0.25s ease-in-out;
          transition: all 0.25s ease-in-out;
          border: 1px solid $gray-medium !important;

          &:focus,
          &:hover {
            background: none;
            box-shadow: none;
            color: $link-color;
            background-color: $gray-light;
          }
        }

        // Active item.
        &.active span {
          background-color: $gray-medium;
          border: 1px solid $gray-medium !important;
          color: white;

          &:focus,
          &:hover {
            background-color: $gray-medium;
            border: 1px solid $gray-medium !important;
            color: white;
          }
        }
      }
    }
  }

  // Node content.
  .node__content {
    .field__label {
      font-weight: bold;
    }
    time {
      display: inline-block;
      margin-bottom: 1rem;
    }
  }

  // Static home page.
  #dsets_intro_table tr:hover {
    background-color: #e9ecef;
  }
}

/* Admin Toolbar Vertical Orientation */
.toolbar-tray-vertical {
  .custom-editor-menu {
    /* Add space between long menu title text and toggle icon */
    margin-right: .25rem;
  }
}

// Responsive.
@media (max-width: 992px) {
  // Exposed search forms.
  form[id^='views-exposed-form-dsets-browse'] {

    fieldset {
      width: 100% !important;
    }
  }
}
