// Set the proper directory for the Bootstrap Glyphicon font.
$icon-font-path: '../bootstrap/assets/fonts/bootstrap/';

$color-supplementary-text: #767676;
$color-highlight: #900;
$color-widget-link: #000;
$color-widget-link-txt: #fff;
$color-widget-hover: #fc0;
$color-widget-hover-txt: #333;
$color-widget-border: #111;
$color-bg-shaded: #f9f9f9;
