/* --------- Begin initial custom/css/style.css --------- */
h1 {
  font-size: 2.43em;
}

h2 {
  font-size: 2.15;
  line-height: 1.4;
}

h3 {
  font-size: 1.7em;
}

h4 {
  font-size: 1.29em;
}

.page-header {
  padding-bottom: 8px;
  margin: 40px 0 14px;
  border-bottom: none;
}

a.navbar-brand {
  display: none;
}

a,
a:link {
  color: #007fa3;
}

a:focus,
a:hover {
  color: #900;
  border-bottom: 1px dotted #ccc;
  text-decoration: none;
}

a.btn:focus,
a.btn:hover {
  color: #000;
}

a.btn-danger,
a.btn-warning,
a.btn-info,
a.btn-success,
a.btn-primary {
  color: #fff;
}

body.modal-open #drupal-modal {
  z-index: 10000;
}

.btn-inverse {
  color: #fff;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
  background-color: #363636;
  background-image: linear-gradient(to bottom, #444, #222);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  margin-left: 10px;
}

.btn-inverse:hover,
.btn-inverse:focus {
  color: #fc0;
}

form.alert {
  margin: 28px 2px;
}

form .field--name-field-related-categories td.field-multiple-drag a {
  display: none;
}

.tab-pane {
  padding: 20px 10px;
}

.guide-tabs {
  padding-left: 10px;
  border-bottom: 1px solid #fff;
  border: 1px solid #333;
  border-bottom: 1px none;
  border-radius: 0;
  background: none repeat scroll 0% 0% #333;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.guide-tabs > li {
  margin-bottom: 0;
  display: inline-block;
}
.guide-tabs > li > a {
  color: #fff;
  border: none;
}
.guide-tabs > li.active > a,
.guide-tabs > li.active > a:focus,
.guide-tabs > li.active > a:hover {
  color: #111;
  cursor: default;
  background-color: #fc0;
  border: none;
  border-width: 0px;
  border-style: solid;
  border-color: #dedede;
  border-bottom-color: #fff;
  border-image: none;
  border-radius: 0;
}
.otherQuest .guide-tabs > li.active > a,
.otherQuest .guide-tabs > li.active > a:focus,
.otherQuest .guide-tabs > li.active > a:hover {
  background-color: #99b7ea;
}
.guide-tabs > li > a:hover,
.guide-tabs>li>a:focus {
  background-color: #444;
  color: #fc0;
  border: none;
}

.guide-tabs-content {
  border: 1px solid #333;
  border-top: none;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 15px;
}

.guide-tabs-content img {
  max-width: 100%;
}

.sharethis-wrapper {
  margin-top: 10px;
}

#askalibrarian {
  margin: 20px 8px;
  padding: 12px;
  border: 1px solid #333;
  background: #f8f8f8;
}

#askalibrarian img.img-responsive {
  margin: 4px auto 18px;
}

#askalibrarian h4 {
  color: #fff;
  padding: 8px 10px;
  margin: -12px -12px 20px -12px;
  font-weight: bold;
  background: #333;
}

legend.guide-metadata {
  padding: 1px 0;
  cursor: pointer;
  font-size: 16px;
  color: darkred;
  border: none;
  margin: 0;
}

#node-subject-guide-edit-form {
  margin: 15px 0;
}

#guide-metadata .fieldset-legend {
  font-size: 14px;
  font-weight: bold;
}

#guide-metadata {
  margin-top: 22px;
}

#guide-metadata .table-striped > tbody > tr:nth-of-type(2n+1) {
  background: none;
}

#guide-metadata th,
#guide-metadata td {
  border: none;
}

button[name="field_subject_guide_editors_add_more"] span {
  display: none;
}

#edit-field-related-categories-wrapper button.tabledrag-toggle-weight,
#edit-field-related-categories-wrapper a.tabledrag-handle {
  display: none;
}

.toggle-guide-content {
  cursor: pointer;
  color: darkred;
}

#edit-field-subject-guide-section-wrapper .filter-wrapper {
  display: none;
}

#edit-field-subject-guide-section-wrapper div.field--type-text-long.collapse.in {
  border: 2px solid #d9534f;
  padding: 10px;
  border-radius: 8px;
}

#edit-field-subject-guide-editors-wrapper {
  padding: .75em 0 2em;
  margin: 3em 0 3em;
}

#edit-field-subject-guide-feeds-wrapper {
  margin-bottom: 3em;
}

#edit-field-subject-guide-section-wrapper .field-label,
#edit-field-subject-guide-editors-wrapper .field-label,
#edit-field-subject-guide-feeds-wrapper .field-label {
  font-size: 1.6em;
}

.alsoPrint em:before {
  font-family: "FontAwesome";
  content: '\f0da';
  margin: 0 5px;
}

.eres-description {
  font-size: 1em;
  margin: 6px 0 10px;
  padding: 5px 8px;
  background: #e6ecf4;
  border: 1px solid #aaa;
  border-radius: 4px;
  line-height: 150%;
  font-weight: normal;
}

.eres-description p {
  margin: 2px 0;
  padding: 0;
}

.page-node-type-subject-guide .tabs--primary li:nth-of-type(n+1) a::before,
.path-guide .tabs--primary li:nth-of-type(n+1) a::before {
  font-family: FontAwesome;
  padding-right: 4px;
}
.page-node-type-subject-guide .tabs--primary li:nth-last-of-type(5) a::before,
.path-guide .tabs--primary li:nth-last-of-type(5) a::before {
  content: "\f19c";
} /*link courses*/
.page-node-type-subject-guide .tabs--primary li:nth-last-of-type(4) a::before,
.path-guide .tabs--primary li:nth-last-of-type(4) a::before {
  content: "\f0fa";
} /*help*/
.page-node-type-subject-guide .tabs--primary li:nth-last-of-type(3) a::before ,
.path-guide .tabs--primary li:nth-last-of-type(3) a::before {
  content: "\f091";
} /*best practices*/
.page-node-type-subject-guide .tabs--primary li:nth-last-of-type(2) a::before,
.path-guide .tabs--primary li:nth-last-of-type(2) a::before {
  content: "\f007";
} /*account*/
.page-node-type-subject-guide .tabs--primary li:nth-last-of-type(1) a::before,
.path-guide .tabs--primary li:nth-last-of-type(1) a::before {
  content: "\f0ca";
} /*level2*/

.path-user .tabs--primary a.help-icon::before,
.path-taxonomy .tabs--primary a.help-icon::before {
  font-family: FontAwesome;
  padding-right: 4px;
  content: "\f0fa";
} /*help*/
.path-user .tabs--primary a.best-practices-icon::before,
.path-taxonomy .tabs--primary a.best-practices-icon::before {
  font-family: FontAwesome;
  padding-right: 4px;
  content: "\f091";
} /*best practices*/
.path-user .tabs--primary a.level2-icon::before,
.path-taxonomy .tabs--primary a.level2-icon::before {
  font-family: FontAwesome;
  padding-right: 4px;
  content: "\f0ca";
} /*level2*/
.path-taxonomy .tabs--primary a.my-account-icon::before {
  font-family: FontAwesome;
  padding-right: 4px;
  content: "\f007";
} /*my account*/

.btn-twitter {
  background-color: #00aced;
  border-color: #00aced;
}
.btn-facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}
.btn-google-plus {
  background-color: #dd4b39;
  border-color: #dd4b39;
}
.btn-linkedin {
  background-color: #007bb6;
  border-color: #007bb6;
}

#node-subject-guide-edit-form + #block-guides-lib-unb-ca-sharethiswidget,
#node-subject-guide-form + #block-guides-lib-unb-ca-sharethiswidget {
  display: none;
}

#edit-actions {
  margin-top: 2.8em;
  text-align: center;
}

.footer {
  margin-top: 20px;
  padding-top: 2px;
}

div[data-oembed-url] {
  text-align: center;
}

#level2-list #edit-add {
  margin-bottom: 1em;
}

ul.resource-list li {
  padding: 2px 0 2px 0;
}

.level2-found li span {
  color: #333;
  font-size: 14px;
}

/* ---------- End initial custom/css/style.css --------- */

body {
  background: #fff;
  font-family: 'Source Sans Pro',"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  padding-top: 0;
}

.paddedList li {margin-top:.75em;}
.skiplist {width:auto;position:relative;top:0;margin:0;padding:0;text-align:center;}
.skiplist li {list-style:none;position:absolute;top:0;left:0;width:100%;z-index: 10002;margin:0;padding:0;line-height: 52px}
.skiplist a {display:block;text-align:center;margin:0;padding:0;text-indent: 100%;white-space: nowrap;overflow: hidden;border:none;width:0;height:1px;transition:width .25s}
.skiplist a:focus, .skiplist a:active {line-height:52px;text-indent:0;font-size:2em;width:100%;outline:none;color:#fff;min-height:52px;background: #D82E3B;box-shadow: 0 0 5px #000;
}

/* ---------- top menu bar --------- */
#utilities {
  border: none;
  margin: 8px 0 0;
  padding: 10px 0 6px 0;
}
.utilities li {
  border-right: 1px solid #999;
  display: inline;
  list-style: none;
  margin: 0 7px 0 0;
  padding: 0 9px 0 0 ;
  width: auto;
}
.utilities li.last {
  border: none;
  margin-right: 0;
  padding-right: 0;
}
.utilities a:link,
.utilities a:visited {
  border: none;
  color: #fff;
  text-decoration: none;
}
.utilities a:focus,
.utilities a:hover {
  background: none;
  color: #FEC700;
}

.navbar-default {
  background: none;
  border:none;
}
.navbar {
  margin-bottom: 0;
}

/* nav, navbar and menus */
.navbar {margin-bottom: 0; border-radius: 0; border: none; padding-bottom: 0; padding-top: 0;}
.nav-justified > li {float:none;}
.navbar-default {box-shadow: none;background: #fff;border:none;}
.navbar-default .navbar-nav > li > a {color: #000;font-size: 18px; font-weight: 700;}
.fhmm .navbar-nav {margin: auto 0;}
.navbar-nav > li > a {padding-top: 0; padding-bottom: 0;}
.navbar-collapse {width: 66.6667%;padding-top: 0}
.navbar-toggle {float:left;margin-left: 15px;}
.navbar-header .navbar-toggle {border-bottom: 1px solid #eee;}
.navbar a {text-decoration: none;border: none;}
.UNBLib-logo {height:92px;transition: height 0.4s linear;text-align: center;}
.UNBLib-logo p {margin: 0; padding-top: 20px;}
.UNBLib-logo img {margin: 0 auto;}
/* FHMM menus */
#defaultmenu .fhmm-content a, #defaultmenu .fhmm-content  a:hover {background: none;text-align: center}
.withoutdesc,
.withdesc {background: #373f44;color:#fff;width:auto;}
.dropdown-menu {font-size:1em;border: none;}
.dropdown .fullwidth {
  margin: 0 -15px;
}
.fhmm .dropdown a,
.fhmm .dropdown-menu  a {color:#fff;}
.fhmm .navbar-nav > li > .dropdown-menu {margin-top:0;}
.fhmm .dropdown-menu {border-top: 0;}
.fhmm .title {border-bottom-width: 0; color:#ddd;padding-bottom:0;margin-bottom:8px;font-size:1.3em;text-transform: none;font-weight:300;}
.nav-justified > li > a {margin-bottom:0;}
.navbar-default {border-color: #bd0000 #bd0000 #333;}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {background-color: #fff !important;border-bottom: 3px solid #BD0000;color:#aaa;}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {background-color: #fff;}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {border-color: #999;}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {background-color: #333;}

.navbar-default .dropdown-menu .withoutdesc ul li:hover,
.navbar-default .dropdown-menu .withoutdesc ul li:focus,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {color: #ffffff !important;background-color: #333 !important;}
.navbar-default .dropdown-menu .withoutdesc ul li a:before {font-family: "FontAwesome"; content: ""; margin: 0px 5px; color: #F00;}
#defaultmenu .dropdown a span {display: none;}
@media screen and (min-width: 1000px) {
  .navbar-nav > li {height:92px;}
  .navbar-nav > li > a {height:92px;line-height:92px;}
}

@media only screen and (max-width: 1000px) {
  nav {margin-left: 0;margin-right: 0;}
  .navbar-collapse {width: 100%;padding-top: 4px;border-top: 1px solid #555;}
  .navbar-nav > li > a {height:52px;line-height:52px;}
  :target:before {height:20px; margin:-20px 0 0;}
}
@media screen and (max-width: 767px) {
  .UNB-logo {padding-top: 0;}
  .UNBLib-logo {height:66px; margin:0 auto;}
  .navbar {padding-bottom: 0;}
  .navbar-mobile {background: #D82E3B;margin: 1px 0 0;padding-left:10px; padding-right: 10px;}
  .navbar-mobile a {border: 1px solid #fff;}
  .navbar-mobile > div {padding-left:0; padding-right: 0;}
  .navbar-mobile button, .navbar-mobile a:link,
  .navbar-mobile button, .navbar-mobile a:visited {color:white;margin-left: 0; margin-right: 0; white-space: nowrap;}
  .navbar-mobile button.hours-nomenu,
  .navbar-mobile button.quick-nomenu {float:none;display:block;margin: 0 auto;margin-top: 8px; margin-bottom: 8px;}
  .home-page button.hours-nomenu {display:none;}
  .navbar-mobile button > i, .navbar-mobile a > i {position:relative;top:-1px;color:white;}
  .navbar-collapse {margin-left: 0; margin-right: 0;padding-left: 0; padding-right: 0;background: #D82E3B;color:#fff;}
  .navbar-collapse {width: 100%;}
  .fhmm .dropdown {max-height: 100%;height:auto;overflow-y: scroll;}
  .nav-justified > li > a {text-align: left;}
  .navbar-default .navbar-nav .open .dropdown-menu > .dropdown-header {border-color: #333;}
  .navbar-default .dropdown-menu .withoutdesc ul li:hover,
  .navbar-default .dropdown-menu .withoutdesc ul li:focus,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover {color: #ffffff !important;background-color: #333 !important;}
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover {color: #ffffff;background-color: #666;}
  #defaultmenu a {font-weight: normal;}
  #defaultmenu .navbar-nav > li > a {color:#fff;text-shadow: none;background: #D82E3B !important;}
  #defaultmenu .navbar-nav > li > a:focus, #defaultmenu .navbar-nav > li > a:active, #defaultmenu .navbar-nav > li > a:hover {border-bottom: none;background: #D82E3B !important;font-weight: 900;color:#efefef;}
  #defaultmenu .dropdown > a::after {font-family: "FontAwesome"; content: '\f078'; margin: 0px 5px;padding-right:16px; color: #fff;font-weight:normal;position:absolute; top:2px;right:0;font-size: .8em;}
  #defaultmenu .dropdown > a:hover::after, #defaultmenu .dropdown > a:focus:after, #defaultmenu .dropdown > a:active:after {font-family: "FontAwesome"; content: '\f077'; color: #efefef;}
}

/* fixed menus on scroll */
nav.affix {
  background: #d82e3b;
  border-bottom: 1px solid #333;
  -webkit-box-shadow: 4px 4px 4px 0px rgba(17,17,17,0.7);
  -moz-box-shadow: 4px 4px 4px 0px rgba(17,17,17,0.7);
  box-shadow: 4px 4px 4px 0px rgba(17,17,17,0.7);
  top:0;
  left:0;
  width:100%;
  z-index: 10003;
}
nav.affix .row {max-width: 1170px; margin: 0 auto;}
nav.affix .UNBLib-logo img  {height:44px;display:none;}
nav.affix .UNBLib-logo {height:52px;text-align: left; background: #D82E3B url('//media.lib.unb.ca/core/img-2015/UNB-logo-white-44px-2015.png') no-repeat 0 50%;}
nav.affix .UNBLib-logo p {margin-top:2px;padding-top: 0;}
nav.affix .UNBLib-logo a {height:52px; width:300px;display:block}
nav.affix .navbar {height:52px;}
nav.affix .navbar-nav > li {height:auto;/* JM EDIT 52px;*/}
nav.affix .navbar-nav > li > a {height:52px;line-height:52px;/* JM COMMENT font-size: 15px;*/}
nav.affix .withoutdesc,
nav.affix .withdesc {max-width: 1170px; margin: 0 auto;}
nav.affix .navbar-nav > li > a {color:white; font-weight: 300;}

@media screen and (max-width:767px) {
  nav.affix {
    position: relative;
  }
}
/* Hours */
#image-hours {
  background-color: transparent;
  background-position: 0 0;
  background-repeat: no-repeat;
  border-top: 1px solid #999;
  height: 200px;
}
#hours {background-color:rgba(0, 0, 0, 0.8);height:199px;padding-top: 8px;color: #fff;font-size:.95em;}
#hours:hover {background-color:rgba(0, 0, 0, 0.9);}
#hours ul {padding-left:5%;}
#hours p {margin-left: 5%;font-weight:bold;}
#hours li {color:#fff;list-style: none;padding-bottom: 4px;}
#hours li a {
  color: #fff;
  float: left;
  clear: both;margin: 0px;
  border-bottom: 1px dotted #ccc;
  background-color: transparent;text-decoration: none;
  outline: none;}
#hours li a.upcoming {float: none;clear: none;}
#hours li a:hover, #hours li a:focus {color: #fec700;}
#hours li span {margin-left: 160px;display: block;}
.hoursList.dl-horizontal dt {text-align: left;}
.dl-horizontal dt {float: left;width: 160px;overflow: hidden;clear: left;text-align: right;text-overflow: ellipsis;white-space: nowrap;}
.dl-horizontal dd {margin-left: 180px;}
.dl-horizontal dt.more {float:none;display: block;}
.phone {font-size:1em;font-weight:bold;margin-left:0;margin-top: -7px;padding-left:0;}
.hrsTable {margin:1.2em 0 1.2em 1.8em;}
.hrsTable caption {text-align:left;font-weight:bold;color:#333;padding:0;margin:10px 0 1px;width:90%}
.hrsTable th {width:auto; min-width: 260px;;font-weight: normal;}
.hrsTable td {padding-right:20px;}
#libHours .row {padding-top:10px;margin-top:30px;;border-top:1px solid #bcbcbc;}
#libHours .alert {margin-top: 12px; width:250px;float:right;}
#libHours p.top {display:none;}
#libHours dt {font-size: 1.3em; margin: 48px 0 16px; border-top:1px solid #dedede;padding-top:18px;color:#900;}
#libHours .holidays dt {margin-top: 0;padding-top: 10px;}
#hrsNavBar {display:none;}
.hoursBlock .alert {min-width: 250px;}

/* ------------- ask us --------------*/

.getHelp {
    text-align: center;
}
.getHelpSmall .askUs {
    height: auto;
}
.askUs {
    max-width: 100%;
    padding: 0 12px 12px;
    height: 300px;
}
.getHelpSmall .askUs h4 {
    background: url("//media.lib.unb.ca/core/img-2015/AskUslogo2.png") no-repeat center center transparent !important;
    height: 53px;
    text-indent: -9999px;
    margin-top: -5px;
    margin-left: 0;
    padding-top: 0;
}
.askBubble {
    margin: 0 auto;
    padding: 5px 10px;
    width: auto;
    max-width: 350px;
    max-height: 45px;
    background-color: #FFF;
    border: 1px solid #AAA;
    position: relative;
    border-radius: 4px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0. 3);
}
.askBubble a {
    text-decoration: none;
    border: none;
    color: #666;
    font-size: 0.9em;
    text-align: center;
    display: block;
    width: 100%;
    height: 50px;
    max-height: 4em;
    cursor: text;
    background: none repeat scroll 0px 0px transparent;
    outline: 0;
}
.askUs p {
    margin: 10px 0px 0px;
    font-size: .9em;
    padding: 0;
    text-align: center;
}
.askUs p span {
    padding-left: 8px;
    padding-right: 8px;
    white-space: nowrap;
}

/* ------------- footer --------------*/
#footer {
  background: #393e44;
  margin-top: 60px;
  padding-top: 10px;
  padding-bottom: 0;
}

#footer a,
#footer a:link,
#footer a:visited {
  border-bottom: none;
  color: #fff;
  font-weight: normal
}
#footer a:after {
    font-family: "FontAwesome";
    content: "\f105";
    margin: 0px 5px;
    color: #f00;
}
#footer a:focus,
#footer a:hover {
  background: none;
  color: #fc0;
}

#bigFooter {
  color: #fff;
  font-size: 1em;
  padding: 20px 0 0;
}
#bigFooter h4 {
  color: #f4f4f4;
  font-size: 1.1em;
  font-weight: 600;
}
#bigFooter ul {
  margin-left: 12px;
  padding-left: 0;
}
#bigFooter li {
  line-height: 200%;
  list-style: none;
  margin-right: 12px;
  padding-right: 0;
}

#subBigFooter {
  padding: 14px 0 10px;
}
#subBigFooter ul {
  display: inline;
  margin: 0;
  padding-left: 0;
  text-align: right;
}
#subBigFooter li {
  border: none;
  display: inline;
  margin-right: 12px;
  padding-right: 0;
}
#subBigFooter #pushRight {
  text-align: right;
}

.joinConver {
  margin:26px 0 30px -15px;
}
.joinConver h4 {
  color:#f4f4f4;font-size: 1.1em;
  display:inline;
  font-weight: 600;
  margin-right: 4px;
}
.joinConver ul {
  display: inline;
  list-style: none;
  margin-left: 10px;
  padding-left: 0;
}
.joinConver li {
  color: #990000;
  display: inline;
  font-size: 1em;
  list-style: none;
  margin-right: 14px;
  white-space: nowrap;
}
#footer .joinConver a:after,
#footer .UNB-logo a:after,
#footer .nav a:after {
  content: none;
}

.darkbkgd {
  background: #282c30;
}

.UNB-logo {
  padding-top: 5px;
}

.breadcrumb {
    background-color: #f5f5f5;
    border-radius: 4px;
    list-style: none;
    margin: 1em -15px;
    padding: 8px 15px;
}

.subsection-menu-item {
  margin-left: 20px;
}

/* top toogle components */
a.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  right: 20px;
  bottom: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.04);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #fff;

  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(0, 0, 0, 0.9) url('//media.lib.unb.ca/core/img-2015/cd-top-arrow.svg') no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .3;
}
.cd-top:focus,
.cd-top:hover {
  background-color: #900;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  a.cd-top {
    right: 30px;
    bottom: 50px;
  }
}
@media only screen and (min-width: 1024px) {
  a.cd-top {
    height: 50px;
    width: 50px;
    right: 50px;
    bottom: 80px;
  }
}

@media screen and (max-width:768px) {
  nav.affix .UNBLib-logo {background-position: 50% 50%;}
}
@media screen and (min-width: 768px) {
  body {
    margin-top: 0;
  }
}
@media screen and (max-width: 767px) {
  body {padding-top: 0;}
  .UNBLib-logo p {padding-top: 1px;}
  #hours p {margin-left: 7px;}
  #hours ul {padding-left: 7px}
  #hours li span {margin-left: 54%;}
  #utilities,
  .hours-nomenu {display:none;}
  ul.utilities {text-align:left;}
  .askus-nomenu {display:block;float:right; clear:none;color: black; background: none;border-color: #eee;}
  #image-hours, #quickLinksContainer {display:none;}
  #image-hours.in, #quickLinksContainer.in {display:block;}
  #bigFooter ul {margin-left: 1px;}
  .joinConver h4 {display: block;}
  #subBigFooter #pushRight {text-align: left;}
  .top {text-align:left; border-bottom:none; margin-top:12px;}
  .nav-tabs > li {float: left; display: block;}
  .findUs .static-google-map {display:block; float: none !important;}
  .findUs li {border-bottom:1px solid #333;margin-top:3em;padding-bottom:2.2em;}
  #libHours .alert {float: none;}
  .hrsTable {margin-left: 0; width:100%;}
  .hrsTable caption {width: 100%;}
  .hrsTable th {min-width:0; width:50%;}
}
@media (min-width: 768px) and (max-width: 991px) {
  #utilities {
    text-align: center;
  }
}
@media (max-width: 991px) {
  #subBigFooter #pushRight {
    text-align: left;
  }
}
