// UNB Lib theme + bootstrap assets.
@import '../../../../../vendor/unb-libraries/unb_lib_theme/assets/stylesheets/unblib';

/* Datasets custom CSS. */

/* Colour.
 *
 * red1:  cc0000;
 * red2:  990000;
 * gray1: f8f8f8;
 * gray2: e7e7e7;
 */

/* All forms. */

#edit-preview {
  display: none;
}

/* Bootstrap global overrides. */

label {
  margin-right: 10px !important;
}

/* Broad decoration overrides. */

div[role="main"] input:hover,
div[role="main"] input:focus,
div[role="main"] input:active,
div[role="main"] select:hover,
div[role="main"] select:focus,
div[role="main"] select:active {
  box-shadow: none !important;
  border-color: #990000 !important;
}

div[role="main"] a,
ul.pagination > li > a,
ul.pagination > li > span {
  color: #cc0000;
}

div[role="main"] .select-wrapper:after {
  color: #990000;
}

div[role="main"] a:hover,
div[role="main"] a:focus,
div[role="main"] a:active,
div[role="main"] ul.pagination > li > a:hover,
div[role="main"] ul.pagination > li > a:focus,
div[role="main"] ul.pagination > li > a:active,
div[role="main"] ul.pagination > li > span:hover,
div[role="main"] ul.pagination > li > span:focus,
div[role="main"] ul.pagination > li > span:active {
  color: #990000;
}

div[role="main"] ul.pagination > li.active > a,
div[role="main"] ul.pagination > li.active > span,
div[role="main"] ul.pagination > li.active > a:hover,
div[role="main"] ul.pagination > li.active > span:hover,
div[role="main"] ul.pagination > li.active > a:focus,
div[role="main"] ul.pagination > li.active > span:focus {
  background-color: #cc0000;
  border-color: #cc0000;
}

div[role="main"] .btn-info,
div[role="main"] .btn-primary {
  background-color: #cc0000;
  border-color: #990000;
}

div[role="main"] .btn-info:hover,
div[role="main"] .btn-info:focus,
div[role="main"] .btn-info:active,
div[role="main"] .btn-primary:hover,
div[role="main"] .btn-primary:focus,
div[role="main"] .btn-primary:active {
  background-color: #990000 !important;
  border-color: #990000 !important;
  outline: none !important;
}

/* Home */

#dsets_intro_table > tbody > tr > td:nth-child(1) {
  display: list-item;
  margin-left: 32px;
}

/* Anniversaries filters form */

div.view-filters.form-group {
  margin-top: 20px;
  margin-bottom: 40px;
  background-color: #f8f8f8;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  padding: 20px;
}

div#anniv-filter-form {
  display: flex;
}

div#anniv-filter-form div:nth-child(1):not([valuer=""]) {
  width: 50%;
  min-width: 110px;
}

form#views-exposed-form-dsets-browse-anniversaries-page-1
div#anniv-filter-form div:nth-child(2) {
  min-width: 110px;
}

div#anniv-filter-form div#edit-actions {
  margin-top: 16px;
}

div#anniv-filter-form label,
div#anniv-filter-form input,
div#anniv-filter-form select,
div#anniv-filter-form button {
  display: inline-table;
}

form#views-exposed-form-dsets-browse-anniversaries-page-1
div#anniv-filter-form button {
  margin-left: 4px;
  margin-right: 0px;
  color: white !important;
}

form#views-exposed-form-dsets-browse-biographies-page-1
div#anniv-filter-form button {
  margin-left: 8px;
  margin-right: 0px;
  color: white !important;
}

div#anniv-filter-form button {
  margin-top: 7px;
}

div#anniv-filter-form span {
  display: none;
}

form#views-exposed-form-dsets-browse-anniversaries-page-1 input.form-control {
  width: 98%;
}

form#views-exposed-form-dsets-browse-anniversaries-page-1 select.form-control {
  width: 98%;
}

div#anniv-filter-title h2 {
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 20px;
}

div#anniv-filter-form button {
  background-color: #000000;
  border-color: #000000;
}

div#anniv-filter-form button:hover,
div#anniv-filter-form button:focus,
div#anniv-filter-form button:active {
  background-color: #444444 !important;
  border-color: #444444 !important;
  outline: none !important;
}

/* Anniversaries for Year form */

form#dsets-anniv-year-form .form-control,
form#dsets-anniv-year-form div {
  display: inline;
}

form#dsets-anniv-year-form .form-control {
  width: 85px;
}

.radio input[type="radio"], .radio-inline input[type="radio"],
.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
  position: relative;
  margin-right: 10px;
}

label.control-label.option {
  margin-left: 10px;
}

label.control-label.option input#edit-anniv-x5 {
  margin-right: 4px;
}

/* User account menu */

footer #block-useraccountmenu ul.navbar-right {
  float: left !important;
  margin-before: 1em !important;
}

footer.row {
  padding-left: 15px;
}

/* Footer */

#libs-footer-logo {
  max-width: 300px;
}

/* Specific */

a[href="/user"] {
  display: none !important;
}

a[href="/user/register"] {
  display: none !important;
}

a[href="/user/password"] {
  display: none !important;
}

table#dsets_intro_table td {
  padding: 2px 20px;
}

div#edit-field-dsets-anniv-event-subject-wrapper div.fieldset-wrapper {
  -webkit-columns: 5 200px;
  -moz-columns: 5 200px;
  columns: 5 200px;
}

div#edit-field-dsets-anniv-note-0-format {
  display: none;
}

div#edit-field-dsets-anniv-source-0-format {
  display: none;
}

div#edit-field-dsets-bio-location-0-format {
  display: none;
}

div.tabbable.tabs-left.vertical-tabs.clearfix {
  display: none;
}

div.field.field--label-above {
  margin-bottom: 20px;
}

form.node-dsets-anniversary-event-delete-form.node-confirm-form.confirmation div#edit-actions {
  margin-top: 20px;
}

div.form-item.js-form-item.form-type-vertical-tabs.js-form-type-vertical-tabs >
div {
  display: none;
}

@media (max-width: 418px) {
  input[data-drupal-selector="edit-dsets-anniv-year-form"] + div#edit-actions
  > button#edit-submit,
  div.form-item-anniv-x5.js-form-item-anniv-x5.checkbox label {
    display: block !important;
    margin-top: 10px;
    margin-left: 0;
  }
}
