<h3 class="sr-only">Same page jump links</h3>
  <ul class="skiplist">
    <li class="skip"><a href="#main">Skip to main content</a></li>
    <!--li class="skip skipSidebar"><a href="#sidebar">Skip to sidebar</a></li-->
  </ul>

    <div class="darkbkgd" id="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12" id="utilities">
      <ul class="utilities">
        <li><a href="http://unb.ca"><i class="icon-unb"></i> UNB</a></li>
        <li class="visible-desktop"><a href="//lib.unb.ca/help/ask.php"><i class="fa fa-question-circle"></i> Ask Us</a></li>
        <li><a href="//lib.unb.ca/requests/suggestions.php"><i class="fa fa-comments"></i> Feedback</a></li>
        <li class="last"><a href="//lib.unb.ca/search.php"><i class="fa fa-search"></i> Search</a></li>
      </ul>
        </div>
      </div>
    </div>
    </div>

  <div class="container">

    <nav class="navbar navbar-default fhmm" aria-label="Banner and Global Navigation" data-spy="affix" data-offset-top="50" >
      <div class="row">
        <div class="col-md-4 col-sm-12 UNBLib-logo">
        <h1><a href="lib.unb.ca/" style="border: none;background:none;"><img src="//media.lib.unb.ca/core/img-2015/UNB_Lib_Black_Red.png" alt="UNB Libraries" /></a></h1>       </div>

        <div class="navbar-header">
            <div class="row navbar-mobile">
              <div class="col-xs-4"><button type="button" data-toggle="collapse" data-target="#defaultmenu" class="navbar-toggle">Menu <i class="fa fa-bars fa-lg fa-wh"></i> </button></div>
                            <div class="col-xs-4 text-center"><button type="button" data-toggle="collapse" data-target="#image-hours" class="navbar-toggle hours-nomenu">Hours <i class="fa fa-clock-o fa-lg fa-wh"></i> </button></div>
              <div class="col-xs-4"><a class="askus-nomenu navbar-toggle" href="//lib.unb.ca/help/ask.php">AskUs <i class="fa fa-comments fa-lg fa-wh"></i></a></div>
          </div>
        </div>

      <div id="defaultmenu" role="navigation" aria-label="Navigation Menus" class="navbar-collapse collapse col-md-8 col-sm-12">
    <ul class="nav navbar-nav nav-justified">
        <!-- Mega Menu -->
        <li class="dropdown fhmm-fw"><a href="//lib.unb.ca/about/" data-toggle="dropdown" class="dropdown-toggle">About</a>
            <ul class="dropdown-menu fullwidth">
                <li class="fhmm-content withoutdesc">
                    <div class="row">
                        <div class="col-sm-4">
                            <h3 class="title">General</h3>
                            <ul>
                <li><a href="//lib.unb.ca/about/contacts.php">Contact Us</a></li>
                <li><a href="//lib.unb.ca/about/findus.php">Find Us</a></li>
                <li><a href="//lib.unb.ca/about/staff.php">Staff and Departments</a></li>
                <li><a href="//lib.unb.ca/about/hours.php">Hours</a></li>
                <li><a href="//lib.unb.ca/about/policies/">Policies</a></li>
                <li><a href="//lib.unb.ca/about/student.php">Student Employment</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <h3 class="title">Libraries</h3>
                            <ul>
                <li><a href="//lib.unb.ca/about/harrietirving.php">Harriet Irving</a></li>
                <li><a href="//lib.unb.ca/about/science.php">Science &amp; Forestry</a></li>
                <li><a href="//lib.unb.ca/about/engineering.php">Engineering &amp; Computer Science</a></li>
                <li><a href="//lib.unb.ca/about/saintjohn.php">Hans W. Klohn Commons</a></li>
                <li><a href="http://www.unb.ca/fredericton/law/library/">Gerard V. La Forest Law</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <h3 class="title">Departments</h3>
                            <ul>
                <li><a href="//lib.unb.ca/archives/">Archives &amp; Special Collections</a></li>
                <li><a href="https://digitalscholarship.lib.unb.ca/">Centre for Digital Scholarship</a></li>
                <li><a href="//lib.unb.ca/microforms/">Microforms</a></li>
                <li><a href="//lib.unb.ca/gddm/">Government Documents, Data &amp; Maps</a></li>
                <li><a href="//lib.unb.ca/about/staff.php"><!--i class="fa fa-plus fa-wh"></i-->... more <span class="hide">Departments</span></a></li>
                            </ul>
                        </div>
                    </div><!-- end row -->
                </li><!-- end grid demo -->
            </ul><!-- end drop down menu -->
        </li>
        <li class="dropdown fhmm-fw"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Resources</a>
            <ul class="dropdown-menu fullwidth">
                <li class="fhmm-content withoutdesc">
                    <div class="row">
                        <div class="col-sm-4">
                            <h3 class="title">Resources</h3>
                            <ul><li><a href="//lib.unb.ca/eresources/index.php">e-Resources</a></li>
                <li><a href="//lib.unb.ca/eresources/index.php?sub=indexes" class="subsection-menu-item">Article Databases</a></li>
                <li><a href="//lib.unb.ca/eresources/index.php?sub=refmat" class="subsection-menu-item">e-Encyclopedias, etc.</a></li>
                <li><a href="//lib.unb.ca/eresources/index.php?sub=journals" class="subsection-menu-item">Journals &amp; Newspapers</a></li>
                <li><a href="//lib.unb.ca/eresources/index.php?sub=ebooks">e-Books</a></li>
                <li><a href="//lib.unb.ca/eresources/index.php?sub=video">Videos</a></li>
                                <li><a href="https://guides.lib.unb.ca/guide/206">Zotero</a></li>
                <li><a href="https://guides.lib.unb.ca/guide/168">Mobile Resources for Academics</a></li>
                        </ul>
                        </div>
                        <div class="col-sm-4">
                            <h3 class="title">Catalogues</h3>
                            <ul>
                <li><a href="//lib.unb.ca/worldcat/">UNB WorldCat</a></li>
                <li><a href="https://login.proxy.hil.unb.ca/login?url=http://firstsearch.oclc.org/fsip?dbname=WorldCat&amp;done=http://www.lib.unb.ca/exitRedirect.php">WorldCat FirstSearch</a></li>
                <li><a href="http://lib.unb.ca/souls">SOULS</a></li>
                <!--li><a href="http://www.collectionscanada.gc.ca/amicus/index-e.html">Library and Archives Canada</a></li>
                <li><a href="http://cat.cisti.nrc.ca/search/">CISTI</a></li-->
                <li><a href="http://www.gnb.ca/0003/index-e.asp">New Brunswick Public Library</a></li>
                        </ul>
                <h3 class="title">Reserves</h3>
                <ul>
                  <li><a href="//lib.unb.ca/reserves/index.php">Search for Course reserves.</a></li>
                            </ul>
                           <h3 class="title">Subject &amp; Course Guides</h3>
               <ul>
                  <li><a href="https://guides.lib.unb.ca">Research by subject or course.</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <h3 class="title">Notable Collections</h3>
                            <ul>
                <li><a href="//lib.unb.ca/archives/">Archives &amp; Special Collections</a></li>
                <li><a href="//lib.unb.ca/collections/clc/">Eileen Wallace Children's Literature</a></li>
                <li><a href="https://unbscholar.lib.unb.ca/">UNB Scholar Research Repository</a></li>
                <li><a href="https://guides.lib.unb.ca/guide/162">Film/Sound/Image Collections</a></li>
                <li><a href="//lib.unb.ca/gddm/">Government Documents, Data &amp; Maps</a></li>
                <li><a href="https://loyalist.lib.unb.ca/">Loyalist Collection</a></li>
                <li><a href="//lib.unb.ca/collections/sff.php">Science Fiction &amp; Fantasy Collection</a></li>
                <li><a href="//lib.unb.ca/eresources/theses.php">UNB Theses &amp; Dissertations</a></li>
                <li><a href="//lib.unb.ca/collections/notable.php#other"><!--i class="fa fa-plus fa-wh"></i-->... more <span class="hide">Collections</span></a></li>
                            </ul>
                        </div>
                    </div><!-- end row -->
                </li><!-- end grid demo -->
            </ul><!-- end drop down menu -->
        </li>
        <li class="dropdown fhmm-fw"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Services</a>
            <ul class="dropdown-menu fullwidth">
                <li class="fhmm-content withoutdesc">
                    <div class="row">
                        <div class="col-sm-4">
                            <h3 class="title">Help with...</h3>
              <ul>
                <li><a href="//lib.unb.ca/research/">Research</a></li>
                <li><a href="//lib.unb.ca/services/writing.php">Writing</a></li>
                <li style="margin-bottom:20px;"><a href="//lib.unb.ca/help/technical.php">Technical Issues</a></li>
                        </ul>
                            <h3 class="title">Request Forms</h3>
              <ul>
                <li><a href="//lib.unb.ca/requests/docdel/">Document Delivery</a></li>
                <li style="margin-bottom:20px;"><a href="//lib.unb.ca/requests/itemretrieval.php">Material Retrieval Form</a></li>
                        </ul>
                        </div>
                        <div class="col-sm-4">
                <h3 class="title">Information about...</h3>
                <ul>
                  <li><a href="//lib.unb.ca/copyright/">Copyright</a></li>
                  <li><a href="//lib.unb.ca/services/photocopying.php">Photocopying, Printing &amp; Scanning</a></li>
                  <li><a href="//lib.unb.ca/services/group_study.php">Group Study Rooms</a></li>
                  <li><a href="//lib.unb.ca/gddm/maps/">GIS</a></li>
                  <li><a href="//lib.unb.ca/gddm/data/">Data Services</a></li>
                  <li><a href="//lib.unb.ca/about/commons.php">McNair Learning Commons</a></li>
                            </ul>
                        </div>
                        <!--div class="col-sm-3">
                        </div-->
                        <div class="col-sm-4">
                <h3 class="title">Services for...</h3>
                <ul>
                  <li><a href="//lib.unb.ca/services/access.php">Persons with Disabilities</a></li>
                  <li><a href="//lib.unb.ca/disted/">Distance Education</a></li>
                  <li><a href="//lib.unb.ca/faculty/">Faculty</a></li>
                  <li><a href="//lib.unb.ca/services/gradstudents.php">Graduate Students</a></li>
                  <li><a href="//lib.unb.ca/services/alumni.php">Alumni</a></li>
                  <li><a href="//lib.unb.ca/services/community.php">Community</a></li>
                  <li><a href="https://guides.lib.unb.ca/guide/185">STU Students</a></li>
                            </ul>
                        </div>
                     </div><!-- end row -->
                </li><!-- end grid demo -->
            </ul><!-- end drop down menu -->
        </li>
        <li class="dropdown fhmm-fw"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Faculty</a>
            <ul class="dropdown-menu fullwidth">
                <li class="fhmm-content withoutdesc">
                    <div class="row">
                        <div class="col-sm-4">
                            <h3 class="title">Teaching</h3>
              <ul>
                <li><a href="//lib.unb.ca/faculty/resourceuse.php">Working with Copyright &amp; Licensed Resources</a></li>
                <li><a href="//lib.unb.ca/faculty/reserves.php">Course Reserves</a></li>
                <li><a href="//lib.unb.ca/faculty/class.php">Library Instruction Services</a></li>
                <li><a href="//lib.unb.ca/about/facilities/">Instruction Facilities</a></li>
                <li><a href="//lib.unb.ca/faculty/resources.php">Teaching Resources</a></li>
                        </ul>
                        </div>
                        <div class="col-sm-4">
                            <h3 class="title">Research</h3>
              <ul>
                <!--li><a href="#">Research Assistance [tabled]</a></li-->
                <li><a href="https://guides.lib.unb.ca/guide/139">Citation Metrics and Scholarly Profiles</a></li>
                <li><a href="//lib.unb.ca/rdm/">Research Data Management</a></li>
                <li><a href="//lib.unb.ca/openaccess/">Supporting Open Access</a></li>
                <li><a href="https://unbscholar.lib.unb.ca/">Deposit to UNB Scholar</a></li>
                <li><a href="https://digitalscholarship.lib.unb.ca/publishing-services">Digital Publishing Services</a></li>
                        </ul>
                        </div>
                        <div class="col-sm-4">
                <h3 class="title">Collections Development</h3>
                <ul><li><a href="//lib.unb.ca/collections/">News, Reports and Policies</a></li>
                            </ul>
                <h3 class="title">Subject Librarians</h3>
                <ul><li><a href="//lib.unb.ca/faculty/liaison.php">Directory of Liaisons by Subject Area</a></li>
                            </ul>
                        </div>
                    </div><!-- end row -->
                </li><!-- end grid demo -->
            </ul><!-- end drop down menu -->
        </li>
        <li class="dropdown fhmm-fw"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Help</a>
            <ul class="dropdown-menu fullwidth">
                <li class="fhmm-content withoutdesc">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="title">Research &amp; Writing</h3>
                            <ul>
                                <li><a href="//lib.unb.ca/help/ask.php">Ask Us</a></li>
                                <li><a href="//lib.unb.ca/research/">Research Help</a></li>
                <li><a href="//lib.unb.ca/services/writing.php">Writing Help</a></li>
                <li><a href="https://guides.lib.unb.ca/">Guides &amp; Workshops</a></li>
                <li><a href="//lib.unb.ca/research/video.php">Video Quick Tips</a></li>
                <li><a href="http://www.unb.ca/fredericton/studentservices/academics/writing-centre/writing-answers.html">Citing Your Sources</a></li>
                <li><a href="//lib.unb.ca/services/access.php">Accessibility Support</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <h3 class="title">Technical Support</h3>
                            <ul>
                                <li><a href="//lib.unb.ca/help/proxy.php">Off-campus Access: Proxy and VPN</a></li>
                <li><a href="//lib.unb.ca/help/status.php">Systems and Services Status</a></li>
                <li><a href="//lib.unb.ca/help/troubleticket.php">Submit a Trouble Ticket</a></li>
                <li><a href="//lib.unb.ca/help/technical.php#wireless">Wireless Connectivity / Loaner Laptops</a></li>
                <!--li><a href="//lib.unb.ca/help/ITS.php">ITS Help Desk Support</a></li-->
                <!--li><a href="//lib.unb.ca/help/accessibility.php">Website Accessibility</a></li-->
                <li><a href="//lib.unb.ca/help/info.php">Test your browser/computer settings</a></li>
                            </ul>
                        </div>
                    </div><!-- end row -->
                </li><!-- end grid demo -->
            </ul><!-- end drop down menu -->
        </li>
        <!-- end list elements -->

        </ul><!-- end dropdown-menu -->
        <!-- </li> end dropdown fhmm-fw -->
    <!-- </ul> end nav navbar-nav -->
</div><!-- end #navbar-collapse-1 -->

<!-- end navbar navbar-default fhmm -->

      </div>
    </nav>

    <div class="row" id="image-hours" style="background: transparent url('//media.lib.unb.ca/core/img-2015/homeBanner/front-1.jpg') 0 0 no-repeat;">
      <div class="col-md-offset-8 col-md-4 col-sm-offset-6 col-sm-6 col-xs-12" id="hours">
      <p>Today's Hours</p>
        <ul class="">
            <li><a href="//lib.unb.ca/about/harrietirving.php">Harriet Irving Hours</a></li>
      <li><a href="//lib.unb.ca/about/science.php">Science &amp; Forestry Hours</a></li>
      <li><a href="//lib.unb.ca/about/engineering.php">Engineering &amp; CS Hours</a></li>
      <li><a href="//lib.unb.ca/about/saintjohn.php">Saint John Hours</a></li>
      <li><a href="http://www.unb.ca/fredericton/law/library/">Law Hours</a></li>
      <li><a href="//lib.unb.ca/about/hours.php"><i class="fa fa-clock-o fa-wh"></i> Complete Hours</a></li>
      </ul>
      </div>
    </div>

  </div>
