/* Datasets custom CSS. */

/* Colour.
 *
 * red1: cc0000;
 * red2: 990000;
 */

/* All forms. */

#edit-preview {
  display: none;
}

/* Bootstrap global overrides. */

input {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

input:hover,
input:focus,
input:active {
  box-shadow: none !important;
  border-color: #990000 !important;
}

a,
.pagination > li > a,
.pagination > li > span {
  color: #cc0000;
}

a:hover,
a:focus,
a:active,
.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > li > a:active,
.pagination > li > span:hover,
.pagination > li > span:focus,
.pagination > li > span:active {
  color: #990000;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #cc0000;
  border-color: #cc0000;
}
.btn-primary {
  background-color: #cc0000;
  border-color: #990000;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #990000 !important;
  border-color: #990000 !important;
  outline: none !important;
}

/* Anniversaries For Year form */

form#dsets-anniv-year-form {
  display: inline-block !important;
}

/* User account menu */

footer #block-useraccountmenu ul.navbar-right {
  float: left !important;
  margin-before: 1em !important;
}

footer.row {
  padding-left: 15px;
}

/* Footer */

#libs-footer-logo {
  max-width: 300px;
}
