/* Datasets custom CSS. */

/* Colour.
 *
 * red1:  cc0000;
 * red2:  990000;
 * gray1: f8f8f8;
 * gray2: e7e7e7;
 */

/* All forms. */

#edit-preview {
  display: none;
}

/* Bootstrap global overrides. */

label {
  margin-right: 10px !important;
}

input:hover,
input:focus,
input:active,
select:hover,
select:focus,
select:active {
  box-shadow: none !important;
  border-color: #990000 !important;
}

a,
.pagination > li > a,
.pagination > li > span {
  color: #cc0000;
}

.select-wrapper:after {
  color: #990000;
}

a:hover,
a:focus,
a:active,
.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > li > a:active,
.pagination > li > span:hover,
.pagination > li > span:focus,
.pagination > li > span:active {
  color: #990000;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #cc0000;
  border-color: #cc0000;
}
.btn-info,
.btn-primary {
  background-color: #cc0000;
  border-color: #990000;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #990000 !important;
  border-color: #990000 !important;
  outline: none !important;
}

/* Anniversaries For Year form */

form#dsets-anniv-year-form {
  margin-bottom: 20px;
  background-color: #f8f8f8;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  padding: 20px;
}

form#dsets-anniv-year-form .form-control,
form#dsets-anniv-year-form div {
  display: inline;
}

form#dsets-anniv-year-form .form-control {
  width: 85px;
}

/* User account menu */

footer #block-useraccountmenu ul.navbar-right {
  float: left !important;
  margin-before: 1em !important;
}

footer.row {
  padding-left: 15px;
}

/* Footer */

#libs-footer-logo {
  max-width: 300px;
}

/* Specific */

label[for="edit-title"] {
  margin-left: 10px !important;
}

label[for="edit-anniv-x5"] {
  margin-left: 12px;
}

table#dsets_intro_table td {
  padding: 2px 20px;
}
