<div class="container">
  <div class="row">
    <div class="col-md-8">
    </div>
    <div class="col-md-4">
      <img class="pull-right" id="libs-footer-logo" src="{{ directory}}/images/UNB_Lib_Black_Red.png">
    </div>
  </div>
</div>
