<div class="container">
  <div class="row">

    <div class="col-md-8">

      <a href={{ front_page }}>Home</a>
      <span>| </span><a href="/anniversaries">Anniversaries</a>
      <span>| </span><a href="/biographies">Biographies</a>
      <span>| </span><a href="/archives">Archives</a>
      <span>| </span><a href="/contact">Contact Us</a>

      <p>
        All contents © {{ "now"|date("Y") }}
        <a href="/archives">Archives & Special Collections</a> and
        <a href="https://www.lib.unb.ca">UNB Libraries</a>
      </p>
    </div>

    <div class="col-md-4">
      <a href="https://www.lib.unb.ca">
        <img class="pull-right" id="libs-footer-logo"
        src="/themes/custom/dsets_custom/images/UNB_Lib_Black_Red.png">
      </a>
    </div>
  </div>
</div>
